.module-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: .5);
    display: none;
    .module{
        width: 600px;
        height: 200px;
        background-color: #FF9200;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 40%;
        font-size: 20px;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        >button{
            border: none;
            margin-top: 10px;
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            outline: none;
            background-color: red;
            color: white;
            padding: 20px 30px;
            display: block;
        }
    }
}