html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  position: relative;
  height: 100vh;
  width: 100vw;
}

@-webkit-keyframes example {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes example {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.progress-true {
  background-color: green;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.progress-false {
  background-color: red;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.correct-answer {
  background-color: #00ff00 !important;
  color: #fff;
}

.wrong-answer {
  background-color: #d6040d !important;
  color: #fff;
}

.module-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.module-bg .module {
  width: 600px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
}

.quiz {
  margin: 30px auto;
  width: 400px;
}

.quiz .quiz-header {
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
}

.quiz .answer {
  margin: auto;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;
  padding: 15px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.quiz .timeline {
  width: 100%;
  height: 10px;
  margin-top: 50px;
}

.quiz .timeline .progress-bar {
  height: 100%;
  height: 100%;
}

main {
  width: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main > h1 {
  width: 100%;
  text-align: center;
}

main > form {
  margin-top: 30px;
}

main > form > label, main > form input, main > form button {
  width: 100%;
  margin: 5px 0;
}

main .score {
  width: 100%;
  margin-top: 30px;
  text-align: right;
}
