html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body > .logo {
  position: absolute;
  top: 35px;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes example {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes example {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.progress-true {
  background-color: #00ff00;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.progress-false {
  background-color: red;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.correct-answer {
  background-color: #00ff00 !important;
  color: #fff;
}

.correct-answer-of-wrong {
  background-color: #bfffbf !important;
}

.wrong-answer {
  background-color: #d6040d !important;
  color: #fff;
}

.jokers {
  display: none;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.jokers .joker-btn {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  margin: 15px 5px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.joker-module-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.joker-module-bg .joker-module {
  width: 600px;
  height: 250px;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
}

.joker-module-bg .joker-module .friends-list {
  width: 550px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.joker-module-bg .joker-module .friends-list .friend-card {
  background-color: lightcoral;
  width: calc((100% - 40px)/3);
  height: 100%;
  padding: 5px 0;
  border-radius: 4px;
  background-color: rgba(128, 0, 128, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.joker-module-bg .joker-module .friends-list .friend-card > img {
  height: 160px;
}

.joker-module-bg .joker-module .indicators-list {
  width: 550px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.joker-module-bg .joker-module .indicators-list .indicator {
  height: calc((100% - 40px) / 4);
  background-color: royalblue;
  color: #fff;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.module-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.module-bg .module {
  width: 600px;
  height: 200px;
  background-color: #fffb00;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 40%;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
}

.module-bg .module > button {
  border: none;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  background-color: red;
  color: white;
  padding: 20px 30px;
  display: block;
}

@-webkit-keyframes answer {
  from {
    padding: 0 30px;
  }
  to {
    padding: 15px 30px;
  }
}

@keyframes answer {
  from {
    padding: 0 30px;
  }
  to {
    padding: 15px 30px;
  }
}

.quiz {
  margin: 30px auto;
  width: 400px;
}

.quiz .quiz-header {
  background-color: #21211D;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 5px;
  border-top-right-radius: 15px;
}

.quiz .question {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #21211D;
  color: #fff;
  margin-bottom: 10px;
  border-bottom-left-radius: 15px;
}

.quiz .answer {
  -webkit-animation-name: answer;
          animation-name: answer;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: auto;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;
  padding: 15px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.quiz .timeline {
  width: 100%;
  height: 10px;
  margin-top: 50px;
}

.quiz .timeline .progress-bar {
  height: 100%;
  height: 100%;
}

main {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main > form {
  width: 100%;
  margin-top: 30px;
}

main > form > input, main > form button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
  border: none;
  padding: 15px 10px;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

main > form > input:first-child, main > form button:first-child {
  -webkit-animation-name: input;
          animation-name: input;
}

main > form > input:last-child, main > form button:last-child {
  -webkit-animation-name: button;
          animation-name: button;
}

main .score {
  width: 100%;
  margin-top: 30px;
  text-align: right;
}

@-webkit-keyframes input {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}

@keyframes input {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes button {
  from {
    right: -200px;
  }
  to {
    right: 0px;
  }
}

@keyframes button {
  from {
    right: -200px;
  }
  to {
    right: 0px;
  }
}
